.env
.env.*

*.jks
*.keystore
android/key.properties

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

*.iml
.idea/
*.ipr
*.iws

.vscode/

# --- ANDROID ---
/android/.gradle
/android/local.properties
/android/app/build
/android/app/.cxx
/android/app/debug
/android/app/profile
/android/app/release

/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*

*.class
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json